# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDEA
/.idea
*.iml

settings.xml
.classpath.txt
.fullclasspath.txt

example/iceberg-warehouse
example/spark-warehouse
